.signup-form{
    text-align: center;
/* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 50px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
    top: 100px;
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.signup-form h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

input {
    width: 375px;
    height: 30px;
    padding: 5px;
    outline: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
}

.form-group .underline{
    position: relative;
}

form .underline::before{
    content: '';
    position: relative;
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;    
}

form .underline::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: linear-gradient(#141e30, #528dd0);
    left: 0;
    bottom: 0;  
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
}

form input:focus ~ .underline::after,
form input:valid ~ .underline::after{    
    transform: scaleX(1);
    transform-origin: left;
}

button{
    padding: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    border-radius: 5px;
    border: 1px solid white;
  }

button:hover{
    border: 1px solid #fff;
    border-radius: 50px;
    color: var(--white);
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(246, 242, 242, 0.3);
    transition: all 0.2s ease-in-out;
    background: var(--white);
  }

button:hover a{
    color: var(--lightDark);
  }